@font-face {
  font-family: "iconfont"; /* Project id 2548818 */
  src: url('iconfont.woff?t=1677744418070') format('woff'),
       url('iconfont.ttf?t=1677744418070') format('truetype'),
       url('iconfont.svg?t=1677744418070#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhongwen1:before {
  content: "\e75e";
}

.icon-yejianmoshi:before {
  content: "\e75f";
}

.icon-liangsemoshi:before {
  content: "\e760";
}

.icon-yingyu:before {
  content: "\e761";
}

.icon-weizhi:before {
  content: "\e75d";
}

.icon-gaodu:before {
  content: "\e752";
}

.icon-huifumoren:before {
  content: "\e753";
}

.icon-lietou:before {
  content: "\e754";
}

.icon-jian:before {
  content: "\e755";
}

.icon-shaixuanxiang:before {
  content: "\e756";
}

.icon-hangtou:before {
  content: "\e757";
}

.icon-shiyi:before {
  content: "\e758";
}

.icon-piao:before {
  content: "\e759";
}

.icon-zhi:before {
  content: "\e75a";
}

.icon-ziduanxuanze:before {
  content: "\e75b";
}

.icon-xinjian:before {
  content: "\e75c";
}

.icon-tingyong:before {
  content: "\e751";
}

.icon-xiangqing1:before {
  content: "\e750";
}

.icon-tishi1:before {
  content: "\e74f";
}

.icon-shangchuan:before {
  content: "\e74d";
}

.icon-fangda:before {
  content: "\e74c";
}

.icon-apple:before {
  content: "\e74a";
}

.icon-android:before {
  content: "\e74b";
}

.icon-piliangchaxun:before {
  content: "\e748";
}

.icon-jinggao1:before {
  content: "\e634";
}

.icon-shipin:before {
  content: "\e747";
}

.icon-tupian:before {
  content: "\e749";
}

.icon-dengdai:before {
  content: "\e746";
}

.icon-xiazai:before {
  content: "\e744";
}

.icon-zhangdan:before {
  content: "\e743";
}

.icon-a-yiwancheng1x:before {
  content: "\e742";
}

.icon-a-jiazaizhong1x:before {
  content: "\e741";
}

.icon-menu-workOrder:before {
  content: "\e740";
}

.icon-a-yuanshiwendang1x:before {
  content: "\e739";
}

.icon-a-chulijieguo1x:before {
  content: "\e73a";
}

.icon-shibaijilu:before {
  content: "\e738";
}

.icon-tianjiawenjian:before {
  content: "\e737";
}

.icon-shuaxin:before {
  content: "\e736";
}

.icon-wubeizhu2:before {
  content: "\e734";
}

.icon-youbeizhu2:before {
  content: "\e735";
}

.icon-bianji:before {
  content: "\e732";
}

.icon-shanchu:before {
  content: "\e733";
}

.icon-yifasong:before {
  content: "\e730";
}

.icon-weifasong:before {
  content: "\e731";
}

.icon-fangdajing:before {
  content: "\e72f";
}

.icon-xiaoxizhongxin:before {
  content: "\e72e";
}

.icon-milestone-created:before {
  content: "\e72c";
}

.icon-milestone-closed:before {
  content: "\e72d";
}

.icon-milestone-failed:before {
  content: "\e729";
}

.icon-milestone-pending:before {
  content: "\e72a";
}

.icon-milestone-success:before {
  content: "\e72b";
}

.icon-wo-edit:before {
  content: "\e726";
}

.icon-menu-account:before {
  content: "\e725";
}

.icon-kefu:before {
  content: "\e724";
}

.icon-login-icon2-iphone:before {
  content: "\e722";
}

.icon-login-icon1-qr:before {
  content: "\e723";
}

.icon-menu-inv:before {
  content: "\e71f";
}

.icon-menu-pageHome:before {
  content: "\e720";
}

.icon-menu-analyse:before {
  content: "\e721";
}

.icon-menu-report:before {
  content: "\e71a";
}

.icon-menu-per:before {
  content: "\e71b";
}

.icon-menu-order:before {
  content: "\e71c";
}

.icon-menu-billOrder:before {
  content: "\e71d";
}

.icon-menu-warn:before {
  content: "\e71e";
}

.icon-shibai1:before {
  content: "\e719";
}

.icon-gouxuan:before {
  content: "\e718";
}

.icon-tishi:before {
  content: "\e710";
}

.icon-cuowu:before {
  content: "\e717";
}

.icon-dankuangguanbi:before {
  content: "\e70e";
}

.icon-weifasong1:before {
  content: "\e633";
}

.icon-yifasong1:before {
  content: "\e632";
}

.icon-shouji:before {
  content: "\e713";
}

.icon-yanzhengma:before {
  content: "\e714";
}

.icon-duanxin1:before {
  content: "\e715";
}

.icon-zhanghu:before {
  content: "\e70a";
}

.icon-mima:before {
  content: "\e716";
}

.icon-weihulve1:before {
  content: "\e70d";
}

.icon-youbeizhu1:before {
  content: "\e70f";
}

.icon-yihulve1:before {
  content: "\e711";
}

.icon-wubeizhu1:before {
  content: "\e712";
}

.icon-xufei:before {
  content: "\e70b";
}

.icon-weikaipiao:before {
  content: "\e70c";
}

.icon-duanxin:before {
  content: "\e708";
}

.icon-youxiang:before {
  content: "\e709";
}

.icon-youbeizhu:before {
  content: "\e702";
}

.icon-weihulve:before {
  content: "\e703";
}

.icon-yihulve:before {
  content: "\e704";
}

.icon-wubeizhu:before {
  content: "\e707";
}

.icon-chenggong1:before {
  content: "\e701";
}

.icon-jinggao:before {
  content: "\e700";
}

.icon-mimaxianshi:before {
  content: "\e6fc";
}

.icon-mimayincang:before {
  content: "\e6fe";
}

.icon-lianxiwomen:before {
  content: "\e6f6";
}

.icon-Laas:before {
  content: "\e6f7";
}

.icon-shujujieru:before {
  content: "\e6f8";
}

.icon-zhenghang:before {
  content: "\e6f9";
}

.icon-youxiangmima:before {
  content: "\e6f2";
}

.icon-duanxinmima:before {
  content: "\e6f5";
}

.icon-yingwen:before {
  content: "\e6f3";
}

.icon-zhongwen:before {
  content: "\e6f4";
}

.icon-tuichu:before {
  content: "\e6ed";
}

.icon-xiaozheng11:before {
  content: "\e6ea";
}

.icon-xiaozheng21:before {
  content: "\e6eb";
}

.icon-xiaozheng2:before {
  content: "\e6e9";
}

.icon-xiaozheng1:before {
  content: "\e6e8";
}

.icon-jiantou:before {
  content: "\e6e7";
}

.icon-milestone-undefined:before {
  content: "\e6e6";
}

.icon-chenggong:before {
  content: "\e6e3";
}

.icon-jiazai:before {
  content: "\e6e4";
}

.icon-shibai:before {
  content: "\e6e5";
}

.icon-fasong:before {
  content: "\e6e2";
}

.icon-zanting:before {
  content: "\e6e1";
}

.icon-bofang:before {
  content: "\e6e0";
}

.icon-caidan:before {
  content: "\e6df";
}

.icon-decode-after:before {
  content: "\e6db";
}

.icon-decode-before:before {
  content: "\e6de";
}

.icon-xiangqing:before {
  content: "\e6da";
}

.icon-xiayibu-shense1:before {
  content: "\e6dc";
}

.icon-xiayibu-qianse:before {
  content: "\e6dd";
}

.icon-milestone-oqc:before {
  content: "\e6c6";
}

.icon-milestone-review:before {
  content: "\e6c7";
}

.icon-milestone-picked:before {
  content: "\e6c8";
}

.icon-milestone-outbounded:before {
  content: "\e6c9";
}

.icon-milestone-waved:before {
  content: "\e6ca";
}

.icon-milestone-tmsPicked:before {
  content: "\e6cb";
}

.icon-milestone-wmsReceived:before {
  content: "\e6cc";
}

.icon-milestone-pooled:before {
  content: "\e6cd";
}

.icon-milestone-finished:before {
  content: "\e6ce";
}

.icon-milestone-upper:before {
  content: "\e6cf";
}

.icon-milestone-inbounded:before {
  content: "\e6d0";
}

.icon-milestone-check:before {
  content: "\e6d1";
}

.icon-milestone-wmsInb:before {
  content: "\e6d2";
}

.icon-milestone-received:before {
  content: "\e6d3";
}

.icon-milestone-sending:before {
  content: "\e6d4";
}

.icon-milestone-trucked:before {
  content: "\e6d5";
}

.icon-milestone-asn:before {
  content: "\e6d6";
}

.icon-milestone-transporting:before {
  content: "\e6d7";
}

.icon-milestone-ready:before {
  content: "\e6d8";
}

.icon-milestone-canceled:before {
  content: "\e6d9";
}

.icon-customs_entry_active:before {
  content: "\e628";
}

.icon-delivery_in_box:before {
  content: "\e629";
}

.icon-order_cancelled_active:before {
  content: "\e62a";
}

.icon-intercepted:before {
  content: "\e62b";
}

.icon-return_requested:before {
  content: "\e62c";
}

.icon-air_transporting_active:before {
  content: "\e62d";
}

.icon-intercepted_active:before {
  content: "\e62e";
}

.icon-transporting:before {
  content: "\e62f";
}

.icon-redirection_requested:before {
  content: "\e630";
}

.icon-express_lost_active:before {
  content: "\e631";
}

.icon-delivery_in_box_active:before {
  content: "\e614";
}

.icon-air_transporting:before {
  content: "\e615";
}

.icon-first_attempt_delivery_active:before {
  content: "\e616";
}

.icon-first_attempt_delivery:before {
  content: "\e617";
}

.icon-customs_entry:before {
  content: "\e618";
}

.icon-lost_tracking:before {
  content: "\e619";
}

.icon-frozen:before {
  content: "\e61a";
}

.icon-in_delivery1:before {
  content: "\e61b";
}

.icon-otms_driver_picked_active:before {
  content: "\e61c";
}

.icon-redirection_requested_active:before {
  content: "\e61d";
}

.icon-suspected_canceled_active:before {
  content: "\e61e";
}

.icon-transporting_active:before {
  content: "\e61f";
}

.icon-warehouse_operation:before {
  content: "\e620";
}

.icon-return_requested_active:before {
  content: "\e621";
}

.icon-warehouse_operation_active:before {
  content: "\e622";
}

.icon-suspected_canceled:before {
  content: "\e623";
}

.icon-reject:before {
  content: "\e624";
}

.icon-otms_driver_picked:before {
  content: "\e625";
}

.icon-express_lost:before {
  content: "\e626";
}

.icon-picked:before {
  content: "\e627";
}

.icon-carrier_order_created:before {
  content: "\e600";
}

.icon-delivered:before {
  content: "\e601";
}

.icon-carrier_order_created_active:before {
  content: "\e602";
}

.icon-delivered_active:before {
  content: "\e603";
}

.icon-order_created_active:before {
  content: "\e604";
}

.icon-order_created:before {
  content: "\e605";
}

.icon-redirection_active:before {
  content: "\e606";
}

.icon-outbound_active:before {
  content: "\e607";
}

.icon-lost_tracking_active:before {
  content: "\e608";
}

.icon-redirection:before {
  content: "\e609";
}

.icon-frozen_active:before {
  content: "\e60a";
}

.icon-reject_active:before {
  content: "\e60b";
}

.icon-return_active:before {
  content: "\e60c";
}

.icon-return:before {
  content: "\e60d";
}

.icon-undefined_active:before {
  content: "\e60e";
}

.icon-outbound:before {
  content: "\e60f";
}

.icon-picked_active:before {
  content: "\e610";
}

.icon-in_delivery1_active:before {
  content: "\e611";
}

.icon-order_cancelled:before {
  content: "\e612";
}

.icon-undefined:before {
  content: "\e613";
}

