* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

html, body {
  height: 100%;
}

:root {
  --zx-theme: #2697FF;
  --zx-primary: var(--zx-theme, #2697FF);

  /* theme light */
  --zx-title: #242831;
  --zx-text: #42464E;
  --zx-border: #E8E9ED;
}

.dark {
  --zx-title: #FFFFFF;
  --zx-text: #FFFFFF;
  --zx-border: #585C6A;
}
